.phrases {
  @include flex(1);
  @include display(flex);
  @include flex-wrap(wrap);
  cursor: pointer;
}

.Phrase-wrapper {
  @include display(flex);
  @include flex(0);
  position: relative;
  border-radius: 10px;

  &:hover {
    -webkit-animation:rainbow 1s infinite;
    -ms-animation:rainbow 1s infinite;
    -o-animation:rainbow 1s infinite;
    animation:rainbow 1s infinite;
    }
    @-webkit-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
    }
    @-ms-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
    }
    @-o-keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
    }
    @keyframes rainbow {
    0% {background: #ff0000;}
    10% {background: #ff8000;}
    20% {background: #ffff00;}
    30% {background: #80ff00;}
    40% {background: #00ff00;}
    50% {background: #00ff80;}
    60% {background: #00ffff;}
    70% {background: #0080ff;}
    80% {background: #0000ff;}
    90% {background: #8000ff;}
    100% {background: #ff0080;}
  }
  &:hover .Phrase {
    // mix-blend-mode: exclusion;
  }
}

.Phrase-image {
  object-fit: cover;
  display: block;
  position: relative;
  // width: calc(100% - 50px);
  width: 100%;
  margin: 0 auto;
  // mix-blend-mode: exclusion;
}

.Phrase {
  background: lightgray;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  @include flex(0);
  @include display(flex);
  @include align-items(center);
  -webkit-transition: all .2s ease-in-out;

  &.--animIn { -webkit-animation: animIn .5s forwards; }
  &.--animOut { -webkit-animation: animOut .5s forwards; }
}

@keyframes animIn {
  from { -webkit-transform: scale(0) }
  to   { -webkit-transform: scale(1) }
}

@keyframes animOut {
  from { -webkit-transform: scale(1) }
  to   { -webkit-transform: scale(0) }
}
