/* main.css */

.flex-center.batch {
  flex-direction: column;
}


.batch-wrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  background: #292929;
  padding-top: 5px;
}

.phrase-wrapper {
  border-radius: 18px;
  background: #545454;
  margin: 12px;
  /*padding: 8px 15px;*/
  box-sizing: border-box;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #828282;
  max-height: 36px;
  display: flex;
  overflow: hidden;
  color: white;
}

.word-wrapper {
  display: flex;
  align-items: center;
  /*padding: 0 5px;*/
}

.word-wrapper:first-child {
  margin: 0 3px 0 0;
}

.word-wrapper:nth-child(2) {
  margin: 0 3px 0 3px;
}

.word-wrapper:last-child {
  margin: 0 0 0 3px;
}

.word-wrapper:first-child:last-child {
  margin: 0;
}

.word-wrapper p {
  /*padding: 0 2px;*/
  padding: 8px 4px;
  font-weight: bold;
}

.word-wrapper p:first-child {
  padding-left: 14px;
  padding-right: 4px;
  border-radius: 20px 0 0 20px;
}

.word-wrapper p:last-child {
  padding-right: 14px;
  padding-left: 4px;
  border-radius: 0 20px 20px 0;
}

.word-wrapper:first-child p:first-child {
  padding-left: 14px;
}

.word-wrapper:nth-child(2) p:first-child:last-child {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 18px;
}

.word-wrapper:last-child p:first-child:last-child {
  border-radius: 20px;
  padding-left: 14px;
}


p {
    margin: 0;
    padding: 0px;
}

.phoneme-color {
  padding: 4px;
}

.magenta {
  color: magenta;
  background: pink;
}
.red {
  color: red;
  background: pink;
}
.green {
  color: lime;
  background: green;
}
.gold {
  color: gold;
  background: #a5792a;
}
.blue {
  color: blue;
  background: cyan;
}

.null { padding: 2px; }








.word-symbol-wrapper {
  background: white;
  padding: 2px 0 5px 5px;
  margin-right: 10px;
  display: inline-block;

  &.--off { display: none; }
}

.word-symbol {
  font-weight: bold;
  margin-right: 5px;
}

.Word-pos-wrapper {
  background: white;
  padding: 2px 0 5px 5px;
  margin-right: 10px;
  display: inline-block;
}

.Word-pos {
  border-radius: 5px;
  background: rgba(100, 100, 100, 0.3);
  color: white;
  font-weight: 'bold';
  padding: 2px 5px 5px 5px;
  margin-right: 10px;
  display: inline-block;

  &.--off { display: none; }
}

.Word-content {
  text-align: center;
  color: white;
  font-weight: bold;
  display: inline-block;
}

/* TOP NAVIGATION */

.top-nav {
  background-color: #282828;
  margin: 0;
  box-sizing: border-box;
  height: 44px;
  top: 0;
  position: fixed;
  z-index: 200;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100vw;
  border-bottom: 1px solid transparent;
  padding-left: 42px;
  padding-right: 42px;
}

/*  FORM SUBMISION */
/* Also user when editing a phrase */

.Overlay {}

.ModalBox {}

.PhraseEditor {}

.AddWord {
  /*  created on initial state */
  /*  on enter this can trigger as well */
}

.AddPhoneme {
  /*  created on initial AddWord */
  /*  on space-bar this can trigger as well */
}

.AddLanguage {}
.AddPhonemeColor {}
.AddTag {}
.AddEmoji {}

.AddPhrase {  /*  finalize phrase */  }


.phoneme-nav {
  display: flex;
  flex: 1;
}

.top_bar_btn {
  background-color: #282828;
  margin-left: 10px;

  font-size: 13px;
  color: #202020;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}


.top_bar_btn path {
  color: white;
}




